.followersc_main {
    width: calc(100vw - 23.9vw);
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 23.9vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: auto;
}

.followersc_container {
    width: 40vw;
    height: auto;
    min-height: 100vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0.6rem;
    padding: 2rem;

}

.follower_main {
    width: 40vw;
    height: 7vh;
    background: linear-gradient(to right,#ee0979, #ff6a00);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5rem;
    gap: 0.5rem;
    border-radius: 25px;
    cursor: pointer;
    color: white;
}

.follower_main img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}