.create_main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 2rem;
    overflow-y: auto;
    background: linear-gradient( to bottom right, rgb(44, 4, 62), rgb(31, 0, 109));
}

.create_main h3 {
    color: white;
    padding: 0.5rem;
}

.create_container {
    width: 800px;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    gap: 0.4rem;
}

.create_url {
    width: 700px;
    padding: 0.5rem;
    outline: none;
    border: none;
    border-radius: 25px;
    border: none;
    outline: none;
}

.create_button {
    padding: 0.5rem 2rem;
    border: none;
    outline: none;
    border-radius: 25px;
    font-weight: 600;
    color: white;
    background-color: #ee0979;
    display: flex;
    gap: 3px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.create_image {
    width: 80vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.create_image img {
    width: 800px;
    height: 500px;
    object-fit: contain;
}

.create_image textarea {
    min-width: 800px;
    max-width: 800px;
    height: auto;
    min-height: 10vh;
    padding: 1rem;
    margin-top: 0.5rem;
    border: none;
    border-radius: 10px;
    color: black;
    font-family: sans-serif;
    outline: none;

}

.create_image textarea:focus {
    outline: none;
}

.noImage {
    width: 800px;
    height: 600px;
    background-color: white;
    display: flex;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    color: rgb(70, 70, 70);
}